.student-admission-form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .student-admission-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .student-admission-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .student-admission-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .student-admission-form input,
  .student-admission-form select,
  .student-admission-form textarea {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .student-admission-form .left-aligned {
    grid-column: 1 / 2;
  }
  
  .student-admission-form button {
    grid-column: span 2;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .student-admission-form button:hover {
    background-color: #0056b3;
  }
  

  .admission-number-card {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .admission-number-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: end;
    font-size: 18px;
  }
  
  .admission-number-card p {
    font-size: 16px;
    text-align: end;
    margin: 0;
    color: #333;
  }
  